body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

/* Intro */

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(../assets/img/intro_01.jpg) center no-repeat;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_suptitle {
    font-family:'Marck Script', cursive;
    font-size: 72px;
    color: #fff;
    text-align: center;
}


.intro_title {
    font-size: 150px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 1;
}

.intro_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto 30px;

    background-color: #fff;

}



/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Nav */

.nav_link {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    position: relative;

    transition: color .2s linear;
    margin: 0 10px;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav_link::after {
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    background-color: #fff;

    position: absolute;


}


.nav_link:hover {
    color: rgb(248, 238, 96);
}


.nav_link:hover::after {
    display: block;
}

/* Button */

.btn {

    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px #fff solid;
    transition: background .1s linear, color .1s linear;

}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Slider*/

.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;


}

.slider_item {
    width: 24%;

    padding: 30px 0;
    border-top: 3px solid #fff;
    font-size: 18px;
    color:#fff;
    text-transform: uppercase;
    opacity: .7;
    position: relative;
}

.slider_inner {
    display: flex;
    justify-content: space-between;

}



.slider_num {

    font-size: 24px;
    font-weight: 700;

}

.slider_item.active {
    opacity: 1;

}
.slider_item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    position: absolute;
    background-color: rgb(211, 42, 42);
    top: -3px;
    left: 0;
    z-index: 1;
}

/* Section */

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin:0 auto 40px;
    text-align: center;
}

.section_subtitle {
    font-family:'Marck Script', cursive;
    font-size: 24px;
    color: black;
}

.section_title {

    font-size: 32px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 30px;
    background-color:rgb(233, 111, 10) ;
}

.section_text {
    font-size: 15px;
    color: #999;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 30%;

}

.about_item:hover .about_image img {
    opacity: .7;
    
}


.about_image {
    background: linear-gradient(to bottom, #f38181, #fce38a);
}


.about_image img {
    transition: opacity .1s linear;

}





